<div class="padding"></div>
<div class="container">
  <div class="text-center">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><b>Novios</b></h5>
        <h6 class="card-subtitle mb-2 text-muted">Selecciona:</h6>
        <p class="card-text">Manten un control de las tareas de tu matrimonio. Busca proveedores</p>
        <a href=" <%= new_user_registration_path %>" class="card-link genric-btn primary circle" data-turbolinks="false">Registrate!</a>
        <a href=" <%= new_user_session_path %>" class="card-link genric-btn success circle" data-turbolinks="false">Inicia Sesión</a>
      </div>
    </div>
  <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Proveedores</b></h5>
        <h6 class="card-subtitle mb-2 text-muted">Selecciona:</h6>
        <p class="card-text">Ingresa tu servicio gratis, vitrina y almacenamiento de archivos</p>
        <a href=" <%= new_purveyor_registration_path %>" class="card-link genric-btn primary circle" data-turbolinks="false">Registrate!</a>
        <a href=" <%= new_purveyor_session_path %>" class="card-link genric-btn success circle" data-turbolinks="false">Inicia Sesión!</a>
      </div>
    </div>
  </div>
</div>
